* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color:white;
    padding: 15px;
    
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    
    
}

header nav ul li {
    
    margin-right: 60px;
}

header nav ul li.iniciarS {
    margin-left: auto;
    margin-right: 60px;
}


header nav ul li img.logo{
    width: 70px;
    height: 70px;
    
}

header nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 17px;
}

.botonRegistrarse{
    color: white;
    background-color: #000;
    align-self: flex-end;
    height: 40px;
    width: 100px;
    border-radius: 10%;
}


.nombrePaginaNav{
    margin-left: 100%;
    margin-right: 60px;
    font-size: 50px;
}

header nav ul li a.cart img {
    width: 40px;
}

.botonRegistrarse{
    color: white;
    background-color: #000;
    align-self: flex-end;
    height: 40px;
    width: 100px;
    border-radius: 10%;
    cursor: pointer;
}

.carrito img {
    width: 30px;
}

main {
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px);
    background-color: #444;
}

.productos {
    margin-top: 40px;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 40%;
    width: 70%;
    
}

.imagenProducto img {
    width: 350px;
    height: 200px;
    border-radius: 10px;
}

.informacionProducto {
    margin-left: 20px;
}

.informacionProducto h1 {
    font-size: 24px;
}

.detalles-producto {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 70%;
    width: 40%;
}

.detalles-producto p {
    margin-bottom: 10px;
    color: #444;
}

.detalles-producto span {
    font-weight: bold;
}

.detalles-producto p.blanco {
    color: #fff;
    margin-bottom: 10px;
}

.boton-comprar {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.boton-comprar:hover {
    background-color: #218838;
}


footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .social-media {
    margin-bottom: 20px;
}

footer ul img.logoFooter{
    text-align: left;
    width: 70px;
    height: 70px;
}

footer .social-media ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer .social-media ul li {
    display: inline;
}



footer .social-media ul li img {
    width: 40px;
}


footer p {
    font-size: 14px;
}
