/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color:white;
    padding: 15px;
    
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    
    
}

header nav ul li {
    
    margin-right: 60px;
}

header nav ul li.iniciarS {
    margin-left: auto;
    margin-right: 60px;
}


header nav ul li img.logo{
    width: 70px;
    height: 70px;
    
}

header nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 17px;
}

.botonRegistrarse{
    color: white;
    background-color: #000;
    align-self: flex-end;
    height: 40px;
    width: 100px;
    border-radius: 10%;
    cursor: pointer;
}


.nombrePaginaNav{
    margin-left: 100%;
    margin-right: 60px;
    font-size: 50px;
}

header nav ul li a.cart img {
    width: 40px;
}

.portada {
    display: flex;
    text-align: center;
    padding: 50px;
    background-color: black;
    height: 500px;
    color: #fff;
    
}
.portada-imagenPortada img{
    
    margin-left: 150%;
    width: 550px;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.floating-button:hover {
    background-color: #0056b3;
    }


.portada h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.portada p {
    font-size: 20px;
}

.arcade-icon {
    width: 100px;
    margin-top: 20px;
}

.noticiasJuegos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #fff;
    margin-bottom: 20px;
}

.informacionJuegos {
    max-width: 60%;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 200px;
}

.informacionJuegos h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.informacionJuegos p {
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 20px;
    
}

.imagenJuego {
    width: 700px;
    height: 500px;
    transition: opacity 2s,
    width 1s,
    height 1s;
}

.imagenJuego:hover{
    width: 800px;
    height: 600px;
}

.slider {
    position: relative;
    width: 80%;
    max-width: 700px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    transition: transform 0.5s;
    width: 100%;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    
}

.slide img {
    width: 100%;
    display: block;
    height: 500px;
}

#delante {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

#atras {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.botonAtras {
    left: 10px;
}

.botonSiguiente {
    right: 10px;
}


footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .social-media {
    margin-bottom: 20px;
}

footer ul img.logoFooter{
    text-align: left;
    width: 70px;
    height: 70px;
}

footer .social-media ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer .social-media ul li {
    display: inline;
}



footer .social-media ul li img {
    width: 40px;
}


footer p {
    font-size: 14px;
}

